.btn {
  @apply inline-block px-4 py-2 rounded-xl font-normal tracking-wider text-base md:text-lg transition w-fit;

  &::after {
    @apply size-4;
    transition-property: background-color, border-color, color, fill, stroke,
      opacity, box-shadow, transform;
    transition-timing-function: ease-in-out;
    transition-duration: 200ms;
  }

  &--primary {
    @apply bg-primary-600 text-white hover:bg-primary-500;

    &-inverse {
      @apply bg-white text-dark hover:bg-white/90;
    }
  }

  &--outline {
    @apply text-primary border border-primary-500 hover:bg-primary-500;

    &-inverse {
      @apply border border-white hover:bg-white/90;
    }
  }

  &--ext {
    @mixin icon arrow-right;

    &::after {
      @apply ml-2;
    }
  }
}
