.btn {
  @apply inline-block px-5 py-2 rounded-2xl font-medium tracking-wider text-base md:text-lg transition w-fit;

  &::after {
    @apply size-4;
    transition-property: background-color, border-color, color, fill, stroke,
      opacity, box-shadow, transform;
    transition-timing-function: ease-in-out;
    transition-duration: 200ms;
  }

  &--primary {
    @apply bg-primary-700 text-white hover:bg-primary-600;

    &-inverse {
      @apply bg-white text-primary-700 hover:bg-white/90;
    }
  }

  &--outline {
    @apply text-primary-800  border border-primary-300  hover:border-primary-300 hover:bg-primary-50;

    &-inverse {
      @apply border border-white hover:bg-white/90;
    }
  }

  &--ext {
    &::after {
      @apply ml-2;
    }
  }
}
