:root {
  --container-padding-inline: 1rem;
  --container-max-width: 100%;
}

/* sm (640px) */
@media (min-width: 640px) {
  :root {
    --container-max-width: 640px;
  }
}

/* md (768px) */
@media (min-width: 768px) {
  :root {
    --container-max-width: 768px;
  }
}

/* lg (1024px) */
@media (min-width: 1024px) {
  :root {
    --container-max-width: 1024px;
  }
}

/* xl (1280px) */
@media (min-width: 1280px) {
  :root {
    --container-max-width: 1280px;
  }
}

/* 2xl (1536px) */
@media (min-width: 1536px) {
  :root {
    --container-max-width: 1536px;
  }
}

@media (min-width: 768px) {
  .full-width-image {
    /* outermost columns emulate the spacing from the .container
       while the two inner columns divide the rest of the space
       into two equal parts */
    display: grid;
    grid-template-columns:
      minmax(var(--container-padding-inline), 1fr)
      minmax(0, calc(var(--container-max-width) / 2))
      minmax(0, calc(var(--container-max-width) / 2))
      minmax(var(--container-padding-inline), 1fr);

    /* for positioning the pseudo-elements
         to fill in the rest of the background*/
    position: relative;
  }

  .full-width-image.image-right {
    direction: rtl;
  }

  .full-width-image:not(.image-right) {
    direction: ltr;
  }

  /* Ensure content inside grid items is not reversed */
  .full-width-image > * {
    direction: ltr;
  }

  /* ensure the image fill up the entire space available */
  .full-width-image > img {
    width: 85%;
    height: 100%;
    object-fit: cover;
  }

  /* if the image is on the left, it covers the entire left half */
  .full-width-image > img:first-child {
    grid-column: 1 / 3;
  }

  /* if the image is on the right, it covers the entire right half */
  .full-width-image > img:last-child {
    grid-column: 3 / -1;
  }

  /* make sure text doesn't touch the edge of the viewport 
     and the content is vertically centered */
  .full-width-image > :not(img) {
    display: grid;
    align-content: center;
    justify-items: start;
  }

  /* at large screens, ensure the background color
       goes to the edge of the page */
  .full-width-image > :not(img)::before {
    content: "";
    position: absolute;
    inset: 0;
    background: inherit;
  }

  /* ensures the background color fills the entire left side */
  .full-width-image > :not(img):first-child::before {
    grid-column: 1 / 2;
  }

  /* ensures the background color fills the entire right side */
  .full-width-image > :not(img):last-child::before {
    grid-column: 4 / 5;
  }
}
