---
import PageBuilder from "../components/PageBuilder.astro";
import PageHeader from "../blocks/PageHeader.astro";
import Layout from "../layouts/Layout.astro";
import { getPageContent } from "../utils/sanity";

export async function getStaticPaths() {
  const data = await getPageContent("practical");

  const pages = data.map((page: any) => {
    return {
      slug: page.slug.current,
      pageHeader: page.pageHeader,
      pageBuilder: page.pageBuilder,
    };
  });

  return pages.map(({ slug, pageHeader, pageBuilder }: any) => {
    return {
      params: { practical: slug },
      props: { pageHeader, pageBuilder },
    };
  });
}

const {
  pageHeader,
  pageBuilder,
}: { pageHeader: { title: string; description: string }; pageBuilder: any } =
  Astro.props;

const { blocks } = pageBuilder ?? {};
---

<Layout title={pageHeader.title} shape />
<PageHeader data={pageHeader} />
<div class="container">
  <iframe
    class="w-full h-[30rem] relative -top-20 -mb-20"
    style="border:0"
    loading="lazy"
    allowfullscreen
    referrerpolicy="no-referrer-when-downgrade"
    src="https://www.google.com/maps/embed/v1/place?key=AIzaSyALyRKX76qq098gtLj1RsNVMkIuQFru2BI
    &q=Olmenhoekstraat+41a,Erps-Kwerps"
  >
  </iframe>
</div>
{pageBuilder && <PageBuilder blocks={blocks} />}
