---
import PageBuilder from "../components/PageBuilder.astro";
import PageHeader from "../blocks/PageHeader.astro";
import { getPageContent } from "../utils/sanity";
import ServiceCard from "../blocks/ServiceCard.astro";
import Layout from "../layouts/Layout.astro";
const services = await getPageContent("service");

export const prerender = true;

export async function getStaticPaths() {
  const data = await getPageContent("services");

  const pages = data.map((page: any) => {
    return {
      slug: page.slug.current,
      pageHeader: page.pageHeader,
      pageBuilder: page.pageBuilder,
    };
  });

  return pages.map(({ slug, pageHeader, pageBuilder }: any) => {
    return {
      params: { services: slug },
      props: { pageHeader, pageBuilder },
    };
  });
}

const {
  pageHeader,
  pageBuilder,
}: {
  pageHeader: { title: string; description: string };
  pageBuilder: any;
  shape?: boolean;
} = Astro.props;

const { blocks } = pageBuilder ?? {};
---

<Layout title={pageHeader.title} shape>
  <PageHeader data={pageHeader} />
  <div class="container relative -top-20 -mb-20">
    <div class="grid grid-cols-1 md:grid-cols-2 lg:gap-6 gap-4">
      {services.map((card: any) => <ServiceCard card={card} />)}
    </div>
  </div>
  {pageBuilder && <PageBuilder blocks={blocks} />}
</Layout>
