---
import Hero from "../blocks/Hero.astro";
import PageBuilder from "../components/PageBuilder.astro";
import Layout from "../layouts/Layout.astro";
import { getPageContent } from "../utils/sanity";

const data = await getPageContent("home");

const [{ hero, pageBuilder }] = data;
const { blocks } = pageBuilder;
---

<Layout title="Home">
  <main>
    <Hero hero={hero} />
    <div class="relative z-10">
      <PageBuilder blocks={blocks} />
    </div>
  </main>
</Layout>
