---
import CallToAction from "../blocks/CallToAction.astro";
import Cards from "../blocks/Cards.astro";
import TextAndImage from "../blocks/TextAndImage.astro";
import TextAndMap from "../blocks/TextAndMap.astro";
import Quote from "../blocks/Quote.astro";
import ImageGallery from "../blocks/ImageGallery.astro";

const components = {
  textAndImage: TextAndImage,
  textAndMap: TextAndMap,
  callToAction: CallToAction,
  cards: Cards,
  quote: Quote,
  imageGallery: ImageGallery,
};

const { blocks } = Astro.props;
---

<div>
  {
    blocks.map((block: { fullWidth: any; _type: keyof typeof components }) => {
      const Component = components[block._type];

      return Component ? (
        <section class={`${block.fullWidth ? "" : "section"} `}>
          <div class={` ${block.fullWidth ? "!p-0" : "container"}`}>
            <Component block={block} />
          </div>
        </section>
      ) : null;
    })
  }
</div>
