---
import { PortableText } from "astro-portabletext";
import { Icon } from "astro-icon/components";
import Link from "../components/Link.astro";

const { block } = Astro.props;
---

<div
  class="bg-primary flex relative text-white box-rounded-sm pt-48 lg:py-16 lg:pl-16 p-8 overflow-clip"
>
  <div class="w-full sm:w-2/3 spacing-y">
    <h2 class="text-white xl:text-6xl">{block.title}</h2>
    <div class="rich-text rich-text--inverse">
      <PortableText value={block.richText} />
    </div>
    <Link data={block.cta} inverse />
  </div>
  <Icon
    class="absolute -right-[1rem] -top-[12.5rem] w-[35rem] sm:-top-[5rem] lg:-top-[7.5rem] lg:-right-[6rem] xl:-right-[5rem] xl:w-[35rem] lg:w-[32.5rem] sm:w-[30rem] h-auto"
    name="shape-2"
  />
</div>
