---
import { Icon } from "astro-icon/components";
const { nav, companyInfo } = Astro.props;
---

<header class="absolute w-full z-10">
  <div class="container">
    <div class="flex items-end justify-between pt-5">
      <!-- Logo -->
      <a href="/">
        <div class="sr-only">Main Navigation</div>
        <Icon name="logo" class="w-36 lg:w-40 h-auto" />
      </a>
      <!-- Navigation -->
      <nav>
        <ul class="items-center text-base gap-12 lg:gap-16 hidden md:flex">
          {
            nav.map((item: any) => (
              <>
                <li>
                  <a
                    class="text-lg lg:text-xl text-white"
                    href={`${item.entry.slug.current}`}
                  >
                    {item.title}
                  </a>
                </li>
              </>
            ))
          }
          <li class="bg-primary rounded-full size-10 lg:size-12 shadow-md">
            <a
              class="flex-center h-full w-full"
              href={`mailto:${companyInfo.email}`}
            >
              <span class="sr-only">Contact</span>
              <Icon name="paper-plane" class="text-white text-lg lg:text-xl" />
            </a>
          </li>
        </ul>
      </nav>

      <!-- Hamburger -->
      <label class="burger mb-4 md:!hidden" for="burger">
        <input type="checkbox" id="burger" />
        <span></span>
        <span></span>
        <span></span>
      </label>
    </div>
  </div>
</header>
