---
import { Icon } from "astro-icon/components";
const { nav, companyInfo } = Astro.props;

console.log(companyInfo);
---

<header class="absolute w-full z-10">
  <div class="container">
    <div class="flex items-end justify-between pt-5">
      <!-- Logo -->
      <a href="/">
        <div class="sr-only">Main Navigation</div>
        <Icon name="logo" class="w-40 h-auto" />
      </a>
      <!-- Navigation -->
      <nav>
        <ul class="items-center text-base gap-16 hidden md:flex">
          {
            nav.map((item: any) => (
              <>
                <li>
                  <a
                    class="text-xl text-white"
                    href={`${item.entry.slug.current}`}
                  >
                    {item.title}
                  </a>
                </li>
              </>
            ))
          }
          <li class="bg-primary rounded-full size-12 shadow-md">
            <a
              class="flex-center h-full w-full"
              href={`mailto:${companyInfo.email}`}
            >
              <span class="sr-only">Contact</span>
              <Icon name="paper-plane" class="text-white text-xl" />
            </a>
          </li>
        </ul>
      </nav>

      <!-- Language -->

      <!-- Hamburger -->
      <div class="tham tham-e-squeeze tham-w-7 md:hidden pb-6">
        <div class="tham-box">
          <div class="tham-inner"></div>
        </div>
      </div>
    </div>
  </div>
</header>
