---
import { Icon } from "astro-icon/components";
import { srcSet, urlFor } from "../utils/image";
import { Image } from "astro:assets";
const { block } = Astro.props;
const imageUrl = block.image ? urlFor(block.image).url() : null ?? "";
---

<div class="flex">
  <div class="flex flex-col sm:w-4/5 lg:w-2/3">
    <Icon
      class="size-12 md:size-16 lg:size-20 text-secondary-500"
      name="quote"
    />
    <blockquote class="spacing-y flex flex-col">
      <div class="text-2xl lg:text-3xl">
        "{block.quote}"
      </div>
      <div class="flex items-center flex-wrap gap-3">
        {
          block.image && (
            <Image
              sizes="150px"
              srcset={srcSet(imageUrl)}
              width={1000}
              height={1000}
              src={imageUrl}
              alt={block.image.alt ?? ""}
              class="size-8 lg:size-12 rounded-full object-cover"
            />
          )
        }

        {
          block.author && (
            <footer class="text-lg font-normal">{block.author}</footer>
          )
        }
      </div>
    </blockquote>
  </div>
</div>
