/* general */

body {
  @apply bg-primary-100 font-base font-light text-lg lg:text-xl md:text-lg;
}

.bg-shape {
  background-image: url("../icons/shape.svg");
  width: 100vw;
  background-size: 500rem;
  background-repeat: no-repeat;
  background-position: top;
}

/* Typography */

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-medium;
}

h1 {
  font-size: clamp(2rem, 16vw, 13rem);
  line-height: 0.9;

  @apply font-light;

  /* @screen lg {
    line-height: 1;
  } */
}

.hero-heading {
  font-size: clamp(2rem, 16vw, 15rem);
  line-height: 0.9;

  @apply font-light;

  /* @screen lg {
    line-height: 1;
  } */
}

h2 {
  @apply text-3xl font-medium lg:text-5xl xl:text-7xl;
}

h3 {
  @apply font-medium text-2xl lg:text-3xl;
}

.intro {
  @apply text-lg sm:text-xl lg:text-2xl;
}

.block-heading {
  span {
    @apply text-primary font-medium text-lg lg:text-xl xl:text-2xl;
  }

  h2 {
    @apply text-3xl lg:text-5xl xl:text-7xl text-black;
  }
}

/* Rich text */

.rich-text {
  @apply spacing-y-xs;

  ul {
    @apply list-disc space-y-1 list-inside;

    li::marker {
      @apply text-primary;
    }
  }

  ol {
    @apply list-decimal list-inside;

    li::marker {
      @apply text-primary font-semibold;
    }
  }

  &--inverse {
    a {
      @apply !text-white;
    }

    h3 {
      @apply text-white !mb-1;
    }
  }

  a {
    @apply underline hover:no-underline font-medium text-primary;
  }

  h3 {
    @apply !mb-1;
  }
}

/* Utils */

.rounded-edge {
  clip-path: ellipse(250% 100% at 40% 0);

  @screen sm {
    clip-path: ellipse(170% 100% at 40% 0);
  }

  @screen lg {
    clip-path: ellipse(130% 100% at 40% 0);
  }
}

.box-rounded {
  @apply rounded-tl-[15rem] rounded-br-[15rem];
}

.box-rounded-sm {
  @apply rounded-tl-[5rem] rounded-br-[5rem];
}

.gradient-overlay-tb {
  @apply absolute inset-0 bg-gradient-to-b from-transparent to-black opacity-50;
}

.gradient-overlay-bt {
  @apply absolute inset-0 bg-gradient-to-t from-transparent to-black opacity-25;
}

.primary-overlay {
  @apply absolute inset-0 bg-primary-500 opacity-30 saturate-[0.5];
}

.bg-img {
  @apply bg-cover bg-center bg-no-repeat w-full absolute inset-0 -z-20;
}

.spacing-y {
  @apply space-y-4 lg:space-y-6;
}

.spacing-y-sm {
  @apply space-y-3 lg:space-y-5;
}

.spacing-y-xs {
  @apply space-y-1 lg:space-y-3;
}

.spacing-y-lg {
  @apply space-y-7 lg:space-y-9;
}

.card-padding {
  @apply p-6 md:p-8 lg:p-10;
}

.card-padding-sm {
  @apply p-6 lg:p-8;
}

.card-padding-lg {
  @apply p-10 lg:p-12;
}

.img-rounded {
  @apply rounded-tl-[8rem] rounded-br-[8rem] lg:rounded-tl-[12.5rem] lg:rounded-br-[12.5rem];
}
.img-rounded-first {
  @apply rounded-tl-[8rem] lg:rounded-tl-[12.5rem];
}

.img-rounded-last {
  @apply rounded-br-[8rem] lg:rounded-br-[12.5rem];
}

.rounded {
  @apply rounded-2xl lg:rounded-3xl;
}

.card-rounded {
  @apply rounded-3xl lg:rounded-[2.25rem];
}

.js-hidden {
  @apply hidden;
}
