body {
  @apply bg-primary-100 font-base font-thin text-base md:text-lg;
}

/* Typography */

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-medium text-primary-600;
}

h1 {
  @apply text-4xl lg:text-9xl tracking-wide;
}

h2 {
  @apply text-xl sm:text-2xl xl:text-7xl;
}

h3 {
}

p {
  @apply text-xl font-base;
}

.rich-text {
  @apply spacing-y-xs;

  &--inverse {
    a {
      @apply !text-white;
    }

    h3 {
      @apply text-white !mb-1;
    }
  }

  a {
    @apply underline hover:no-underline font-semibold text-primary-500;
  }

  h3 {
    @apply !mb-1;
  }
}

.rounded-edge {
  clip-path: ellipse(110% 100% at 40% 0);
}

.box-rounded {
  @apply rounded-tl-[15rem] rounded-br-[15rem];
}

.box-rounded-sm {
  @apply rounded-tl-[5rem] rounded-br-[5rem];
}

.block-heading {
  span {
    @apply text-primary font-normal text-2xl;
  }

  h2 {
    @apply text-7xl tracking-wide text-black;
  }
}

.gradient-overlay {
  @apply absolute inset-0 bg-gradient-to-b from-transparent to-black opacity-75;
}

.primary-overlay {
  @apply absolute inset-0 bg-primary-500 opacity-30;
}

.bg-img {
  @apply bg-cover bg-center bg-no-repeat w-full absolute inset-0 -z-20;
}

.spacing-y {
  @apply space-y-2 lg:space-y-4;
}

.spacing-y-sm {
  @apply space-y-3 lg:space-y-5;
}

.spacing-y-xs {
  @apply space-y-1 lg:space-y-3;
}

.spacing-y-lg {
  @apply space-y-7 lg:space-y-9;
}

.card-padding {
  @apply p-6 md:p-8 lg:p-10;
}

.card-padding-sm {
  @apply p-6 lg:p-8;
}

.card-padding-lg {
  @apply p-10 lg:p-12;
}

.img-rounded {
  @apply rounded-2xl lg:rounded-3xl;
}

.rounded {
  @apply rounded-2xl lg:rounded-3xl;
}

.card-rounded {
  @apply rounded-3xl lg:rounded-[2.25rem];
}

.cta-shape {
  @apply relative overflow-clip;

  &::before {
    @apply absolute bg-no-repeat right-0 bottom-0 h-32 lg:h-full w-1/3 lg:w-1/3  opacity-40;
    content: "";
    background-position: 15% 10%;
    background-size: 200%;
    background-image: url("/icons/shape.svg");
  }
}
